* {
  margin: 0;
}

.leaflet-container {
  width: 100%; 
  height: 90vh;
  border-radius: 10%;
  border: solid;
}


.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  gap: 2px;
  background-color: aquamarine;
  padding: auto;
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  background-color: aquamarine;
  gap: 1%;
  padding: 1%;
  margin-top: 1%;
  max-height: 100vh;

  
}

.bus-container {
  background-color: chocolate;
  gap: 1%;
  padding: 1%;
  max-height: 100vh;

}

.ahora,
.sol,
.tarjeta {
  display: flex;
  border: solid;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.resumen {
  display: grid;
  grid-template-rows: 0.25fr 2.75fr;
  gap:2%;
}

.titulo {
  display: grid;
  grid-template-rows: 0.25fr 2.75fr;
  gap:2%;
}

.sol {
  border: solid;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  gap: 4%;
}

.tempHora {
  display: flex;
  border: solid;
  border-radius: 10%;
  align-items: center;
  margin: 0;
  }

.tarjeta {
  height: 100%;
}

.ciudad {
  grid-column: 1 / -1; /* Se extiende desde la primera columna hasta la última columna de la cuadrícula */
  grid-row: 1; /* Se encuentra en la primera fila */
}

.opciones:hover {
  cursor: pointer;
}